{namespace this=Tx_SuperForms_ViewHelpers}
<div>
	<f:if condition="{field.label}">
		<label>{field.label}</label><br/>
	</f:if>
	<f:for each="{field.splittedOptions}" as="option">
		<f:form.radio
			property="values.{field.name}"
			value="{option.value}"
			checked="{this:value(field: field, formResponse: formResponse, validationResult: validationResult, trueIfEquals: option.value)}"
			id="form_{field.form.name}_field_{field.name}_{option.value}" />
		<f:if condition="{option.label}">
			<label for="form_{field.form.name}_field_{field.name}_{option.value}">{option.label}</label><br />
		</f:if>
	</f:for>
	<f:render partial="Error" arguments="{field: field, formResponse: formResponse, validationResult: validationResult}" />
</div>
