{namespace this=Tx_SuperForms_ViewHelpers}
<div>
	<f:if condition="{field.label}">
		<label>{field.label}</label><br/>
	</f:if>
	<f:if condition="{field.hasMultipleOptions}">
		<f:then>
			<f:for each="{field.splittedOptions}" as="option">
				<f:form.checkbox
					property="values.{field.name}"
					value="{option.value}"
					checked="{this:value(field: field, formResponse: formResponse, validationResult: validationResult, trueIfEquals: option.value)}"
					id="form_{field.form.name}_field_{field.name}_{option.value}" />
				<f:if condition="{option.label}">
					<label for="form_{field.form.name}_field_{field.name}_{option.value}">{option.label}</label><br />
				</f:if>
			</f:for>
		</f:then>
		<f:else>
			<f:form.checkbox
				property="values.{field.name}"
				value="{field.splittedOption.value}"
				checked="{this:value(field: field, formResponse: formResponse, validationResult: validationResult, trueIfEquals: field.splittedOption.value)}"
				id="form_{field.form.name}_field_{field.name}" />
			<f:if condition="{field.splittedOption.label}">
				<label for="form_{field.form.name}_field_{field.name}">{field.splittedOption.label}</label>
			</f:if>
		</f:else>
	</f:if>
	<f:render partial="Error" arguments="{field: field, formResponse: formResponse, validationResult: validationResult}" />
</div>