{namespace this=Tx_SuperForms_ViewHelpers}
<div>
	<f:if condition="{field.label}">
		<label for="form_{field.form.name}_field_{field.name}">{field.label}</label>
	</f:if>
	<f:form.select
		property="values.{field.name}"
		id="form_{field.form.name}_field_{field.name}"
		options="{field.splittedOptionsForSelect}"
		value="this:value(field: field, formResponse: formResponse, validationResult: validationResult)"
		size="{field.size}"
		/>
	<f:render partial="Error" arguments="{field: field, formResponse: formResponse, validationResult: validationResult}" />
</div>
